.main{
    -fx-background-color: transparent;
}

.card{

    -fx-background-color: linear-gradient(to bottom right, #fff, #066);
    -fx-background-radius: 15px;
}

.keyresult{
    -fx-background-color: #fff;
    -fx-background-radius: 20px;
    -fx-text-fill: #000;
    -fx-font-size: 22px;
    -fx-padding: 20px 15px 5px 15px;
}

.prevnumber{
    -fx-font-size:15px;
    -fx-font-fill:#fff;
}

.keypad{
    -fx-background-color: rgba(0, 130, 133, 0.10);
    -fx-background-radius: 0px;
    -fx-text-fill: #fff;
    -fx-font-size: 30px;
    -fx-cursor: hand;
}

.keypad:hover{
 -fx-background-color: rgba(0, 130, 133, 0.30);

}

.clear{
    -fx-background-color: rgba(0, 130, 133, 0.30);
    -fx-cursor: hand;
    -fx-text-fill: #fff;
}

.clear:hover{
    -fx-background-color: rgba(0, 130, 133, 0.10);

}

.exit{
    -fx-background-color: bf3c54;
    -fx-background-radius: 50px;
    -fx-cursor:hand;
}

.exit:hover{
    -fx-background-color: rgba(0, 130, 133, 0.10);
}